
/node_modules
/public/hot
/public/storage
storage/uploads/
storage/sqlite/
public/download/
storage/plymouth/
storage/uploads/
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
