
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-github:before { content: '\f113'; } /* '' */
.icon-hourglass-o:before { content: '\f250'; } /* '' */